<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1 class="text-center"><%= @list.name %></h1>
  </div>
</div>

<div class="list_container d-flex flex-column align-items-center justify-content-center my-5">
  <div class="d-flex w-100 justify-content-end">
    <a class="btn btn-gradient" href="#">add a movie</a>
  </div>

  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card" style="width: 100%;">
        <%= image_tag bookmark.movie.poster_url, class: "show-image" %>
        <div class="d-flex">
          <h5><%= bookmark.movie.title %></h5>
          <p class="fs-3 ms-1">·</p>
          <p class="ms-1"><%= bookmark.movie.rating %> ⭐️</p>
        </div>
        <p class="card-text px-1"><%= bookmark.movie.overview %></p>
        <div class="d-flex justify-content-between px-2">
          <p><%= bookmark.movie.title %></p>
          <a href="#" class="link-danger text-decoration-none fw-bold">New list</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <%# <hr class="border-bottom border-1 border-dark"> %>
